{% extends "base.html" %}
{% load i18n static %}

{% block content %}

  {% if form.errors %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p><strong>Upozornění</strong> Hesla nesouhlasí. Prosím, zkuste to znovu.</p>
  </div>

  {% endif %}

  <div class="page-header">
    <h1>Změna hesla</h1>
    <p>Prosím, zadejte své staré heslo a dvakrát své nové heslo, abychom zkontrolovali možné překlepy.</p>
    
    <div class="panel panel-primary" style="margin-top: 20px;">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Poznámka</strong></h3>
      </div>
      <div class="panel-body">
        <p>Pokud se všechno povede, přesměrujeme Vás na hlavní stránku a už budete mít nové heslo. Pokud ne, uvidíte chybovou hlášku.</p>
      </div>
    </div>
  </div>
  <form class="form-horizontal" method="post" action="{% url appraise.views.password_change %}">
  {% csrf_token %}

   <div class="form-group">
      <label for="id_old_password" class="col-sm-4 control-label">Staré heslo</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">povinné</div>
          <input class="form-control" name="old_password" id="id_old_password" type="password" />
        </div>
        <p class="help-block">Prosím, prokažte se svým starým heslem</p>
      </div>
    </div>

    <div class="form-group">
      <label for="id_password1" class="col-sm-4 control-label">Nové heslo</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">povinné</div>
          <input class="form-control" name="password1" id="id_password1" type="password" />
        </div>
        <p class="help-block">Prosím zadejte své nové heslo</p>
      </div>
    </div>

    <div class="form-group">
      <label for="id_password2" class="col-sm-4 control-label">Nové heslo (znova)</label>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-addon">povinné</div>
          <input class="form-control" name="password2" id="id_password2" type="password" />
        </div>
        <p class="help-block">Prosím, potvrďte své nové heslo</p>
      </div>
    </div>

    <button type="submit" class="col-sm-offset-4 btn btn-primary">Změnit heslo</button>
  
  </form>
{% endblock %}

{% block actions %}
    <script>
  {% if username %}
      // if username is given, set focus on password input
      $('#id_password').focus();
  {% else %}
      // by default, set focus on username input
      $('#id_username').focus();
  {% endif %}
    </script>
{% endblock %}
